/* encabezado*/

.main-bar{
    background-color: #692701;
    opacity: 0.85;
    border-radius: 10px ;
    color: white;
    padding: 30px;

}
a>img{
    background-color: re;
    margin-left: 50px;
}

div>ul>li>a{
    font-size: 26px;
    font-weight: bold;
    font-family: Georgia;
}
@media screen and(min-width:920px){
  #boton{
      justify-content: right;
      background-color: red;

  }  
}
/* cuerpo*/
body{
    background-image: url("../images/fondo_03.jpg") ,url("../images/fondo.jpg") ,url("../images/fondo_01.jpg") ;
    mask-repeat: no-repeat;
    background-size: 1900px ;
}

#presentacion{
    background-color: #015169;
     opacity: 0.85;
    border-radius: 10px ;
     color: white;
     padding: 30px;
}
#color-textura{
    background-color: #015169;
    opacity: 0.85;
    border-radius: 10px ;
    color: white;
    padding: 30px;    
}

#pie{
    background-color: white;
    opacity: 0.4;
}
#pie img{
    height: 70px;
}

@media screen and (max-width: 700px) {
    #carouselExampleControls {
        margin-left: 48px;
        width: 100%;
    }
    #color-textura {
        margin-left: 28px;
    }
}
@media screen and (max-width: 380px) {
    #colapse{
        position: absolute;
        top: 60px;
        right: 10px;
     
    }
    #colapseimage{
        margin-left: -100px;
    }

}