body{
    background-image: url("../images/fondo_1.jpg");
    background-repeat: no-repeat;
    background-size: 1900px ;
}
header{
    opacity: 0.8;
}

#pie{
    background-color: white;
    opacity: 0.4;
}
#pie img{
    height: 70px;
}